/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
);
/* Colors */
$hns-blue: #2e627f;
// rgba(46, 98, 127, .9)
$hns-teal: #70A9A1;
$hns-yellow: #CEDA51;
$hns-light-blue: #B5F1FF;
$hns-very-dark-blue: #161925;
// Fonts
$header: 'Open Sans';
$paragraph: 'Gentium Basic';
// Font Weights
$heavy: '800';


/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
